<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
    	<div class="item item-divider">
    		Location Information
    	</div>
    	<div class="item item-body">
    		Our Address<br>
    		121, Clear Water Bay Road<br>
    		Clean Water Bay, Kowloon<br>
    		Hong Kong<br>
    		<i class="ion-ios-telephone"></i>+852 1234 5678<br>
    		<i class="ion-folder"></i>+852 1234 5678 <br>
    		<i class="ion-email"></i>confusion@food.net
    	</div>
    	<div class="item-divider">
    		<div class="button-bar">
    			<button class="button button-positive">
    				<i class="ion-ios-telephone"></i>Call
    			</button>
    			<button class="button button-calm">
    				<i class="ion-social-skype"></i>Skype
    			</button>
    			<button class="button button-balanced">
    				<i class="ion-email">Email</i>
    			</button>
    		</div>
    	</div>
    </div>
  </ion-content>
</ion-view>